VITE_FIREBASE_API_KEY=AIzaSyDpVIx3OOxVc7Fgxq3Op4KJTLdJDgxdNGI
VITE_FIREBASE_AUTH_DOMAIN=medicine-store-aecfa.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=medicine-store-aecfa
VITE_FIREBASE_STORAGE_BUCKET=medicine-store-aecfa.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=612342836851
VITE_FIREBASE_APP_ID=1:612342836851:web:f9f0654c94c1eeec274406
VITE_FIREBASE_MEASUREMENT_ID=G-2PL7FT8DNT
